@page "/FillSurvey"
@using BlazorServerSideCRUD.Data.Service
@using BlazorServerSideCRUD.Models.Survey

@inject SurveyService surveyService

<h3>Take a Survey</h3>
@if (serveys == null) {
  <p><em>Loading...</em></p>
} else {
  <table class='table table-hover'>
  </table>
}


@functions {
  List<Survey> serveys;
  List<User> users;

//? gok protected override async Task OnInitAsync() {
    protected override async Task OnInitializedAsync() {
    await load();
  }

  protected async Task load() {
    serveys = await surveyService.GetSurveysAsync();
    users = await surveyService.GetUsersAsync();
  }
  protected string GetUserFirstName(int id){
        return users.Find(c => c.ID == id).FirstName;
  }
  protected string GetUserLastName(int id){
        return users.Find(c => c.ID == id).LastName;
  }
}