@page "/AvailableQuestions"
@using BlazorServerSideCRUD.Data
@using BlazorServerSideCRUD.Models
@inject SurveyService surveyService


<h3>Available Questions</h3>
@if (questions == null) {
  <p><em>Loading...</em></p>
} else {
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Question Type</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in questions)
      {
        <tr>
          <td>@item.ID</td>
          <td>@item.Text</td>
          <td>@item.QuestionType</td>
          <td>@item.Options</td>
        </tr>
        }
    </tbody>
  </table>
}


@functions {
  List<SimpleSurvey.Question> questions;

//? gok protected override async Task OnInitAsync() {
    protected override async Task OnInitializedAsync() {
    await load();
  }

  protected async Task load() {
    questions = await surveyService.GetQuestionsAsync();
  }
}